*.o
*.bin
*.hex
*.elf
*.dmp
*.lst
/riscv/software/cpptest/hello
*.bit
*.txt
*.mem
*.bak
*.sym
/spartan9/soc_bd.bmm
/platform/wildfire_papro/soc_bd.bmm
/spartan9/memtest.vhd
/platform/wildfire_papro/*.vhd
/software/wildfire/test/*.vhd
/spartan9/*
/software/wildfire/monitor/*.vhd
/software/wildfire/dhrystone/*.vhd
/build/*
/fusesoc.log
*.geany
